.steps {
  margin: 12px 6px;
}

.label {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  font-family: PingFangSC-medium;
}

.value {
  color: #000;
  font-size: 14px;
  display: inline-block;
  text-align: left;
  margin: 6px;
  font-family: PingFangSC-regular;
}
