#root {
  .ant-pro-layout-mix > .ant-layout > aside {
    background-color: #fff;

    &
      > .ant-layout-sider-children
      > div
      > .ant-menu
      > .ant-menu-item-group
      > .ant-menu-item-group-list
      > .ant-menu-item-selected {
      font-weight: 600 !important;
      color: #0a7aff !important;
    }
  }

  .ant-pro-layout-mix
    > .ant-layout
    > .ant-pro-layout-container
    > .ant-pro-layout-header-fixed-header {
    background-color: #0a7aff;

    & > .ant-pro-global-header {
      margin-inline: 0;

      & > .ant-pro-global-header-logo {
        display: inline-block;
        width: 257px;
        height: 100%;
        margin-inline: 0;
        padding-left: 16px;
        background: #fff;
      }
    }
  }
}
